@import "foundation/settings";
@import "foundation/components/grid";

body {
    font-size: 1rem;
    color: #404851;
    font-family: proxima-nova, "Proxima Nova", "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;;
    font-weight: 300;
}

p a {
    color: #2987F1;
    text-decoration: none;
    border-bottom: 1px solid rgba(49, 157, 245, 0);

    &:hover {
        border-bottom: 1px solid rgba(49, 157, 245, 1);
        transition: .25s;
    }
}

h1, h2, h3 {
    font-weight: 600;
}

h1 {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    margin-top: 2rem;
}

h2 {
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

h3 {
    font-size: 0.875rem;
    margin-bottom: .5rem;
}

p {
    margin-top: .25rem;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: #EAEAEA;
}

header {
    padding-top: 2rem;


    .content {
        margin-bottom: .5rem;
    }

    .name {
        float: left;
        font-weight: 600;
        color: #8B929A;
        font-size: 1.125rem;
    }
    .social-icons {
        float: right;
        
        img {
            height: 16px;
            margin: 0.375rem;

            &.medium {
                height: 15px;
            }
            &.github {
                height: 18px;
            }
            &.email {
                height: 20px;
            }

            opacity: 0.2;

            &:hover {
                opacity: 0.6;
                transition: .5s;
            }
        }
    }
}

section.bio {
    img {
        margin-top: 2rem;
        margin-bottom: 1rem;
        overflow: hiddent;
        border-radius: 2px;
    }

}

section.projects {
    .projects-row {
        margin-bottom: 1rem;
    }

    .project {
        width: 100%;
        height: 120px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid #F2F2F2;
        border-radius: 2px;
    }

    a .hover-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0);

        &:hover {
            background-color: rgba(255,255,255,.2)
        }
    }

    #pr-bostonhacks {
        background-image: url('../img/projects/bostonhacks.png');}
    #pr-gitme {
        background-image: url('../img/projects/gitme.png');}
    #pr-rote {
        background-image: url('../img/projects/rote.jpg');}
    #pr-openwebjoin {
        background-image: url('../img/projects/openwebjoin.jpeg');}
    #pr-questaremote {
        background-image: url('../img/projects/questaremote.png');}
    #pr-productify {
        background-image: url('../img/projects/productify.jpg');}
    #pr-gai {
        background-image: url('../img/projects/gai.png');}
    #pr-angeled {
        background-image: url('../img/projects/angeled.jpg');}
    #pr-questamain {
        background-image: url('../img/projects/questamain.png');}
    #pr-pinguin {
        background-image: url('../img/projects/pinguin.png');}

}


footer {
    padding: 3rem 0;

    p {
        opacity: 0.5;
        margin: 0;
    }
}